extends layout
block content
  .container
    form(ng-show='showAddPost' novalidate ng-model="addPostForm" name="addPostForm" ng-submit='postClass.addPost(name, prevImg, location, description); cleanForm(addPostForm);  this.setPristine();')
      .col-sm-6
        .form-group(ng-class="{'has-error': addPostForm.name.$invalid && !addPostForm.name.$pristine}")
          label(for='name') Name
          input.form-control(name='name' required ng-model="name" type='text' placeholder='name' ng-minlength='3')
          p.help-block(ng-show='addPostForm.name.$invalid && !addPostForm.name.$pristine') Name must be at least 3 characters.
        .form-group(ng-class="{'has-error': addPostForm.location.$invalid && !addPostForm.location.$pristine}")
          label(for='location') Location
          input.form-control(name='location' required ng-model="location" type='text' placeholder='location' ng-minlength='5')
          p.help-block(ng-show='addPostForm.location.$invalid && !addPostForm.location.$pristine') Location must be at least 5 characters.
        .form-group(ng-class="{'has-error': addPostForm.description.$invalid && !addPostForm.description.$pristine}")
          label(for='description') Desciption
          textarea.form-control(name='description' required ng-model="description" type='text' placeholder='description' rows='5' ng-minlength='20')
          p.help-block(ng-show='addPostForm.description.$invalid && !addPostForm.description.$pristine') Description must be at least 20 characters.
        input.form-control(type='submit' ng-disabled='addPostForm.$invalid')
      .form-group.col-sm-6
        label(for='image') Image
        input.form-control(name='image' required type='file' onchange="angular.element(this).scope().fileChanged(this)" accept="image/*")
        img.img-responsive(ng-src="{{prevImg}}")
  article
    section.container(ng-repeat='post in posts | filter:searcher | orderBy:sorter:reverseSort')
      img.img-responsive.col-sm-3(ng-src='{{post.imageUrl}}')
      .container.col-sm-9
        p
          span.location {{post.location}} |&nbsp;
          span.rating(ng-class='{positive: post.rating > 0, negative: post.rating < 0}') {{post.rating}}
          span.glyphicon.glyphicon-arrow-up(ng-click='postClass.upVote(post.id)')
          span.glyphicon.glyphicon-arrow-down(ng-click='postClass.downVote(post.id)')
        p.author
          {{post.author}}
        p.description
          {{post.description}}
        p
          span.glyphicon.glyphicon-calendar
          span {{post.date | timeAgo}} |&nbsp;
          span.glyphicon.glyphicon-comments
          ng-pluralize.comments(count='post.comments.length', when="{\
          '1': '1 Comment | ',\
          'other': '{{post.comments.length}} Comments | '  \
          }", offset='', ng-click='postClass.toggleComments(post.id)')
          span.glyphicon.glyphicon-pencil
          span.comments(ng-click='postClass.toggleAddComment(post.id)') Add Comment
        .comments(ng-show='post.showComments' class='existingComments')
          div(ng-repeat="comment in post.comments")
            p.name {{comment.name}}
            p.commentText {{comment.comment}}
        .comments.newComment(ng-show='post.showAddComment')
          form(name='addCommentForm', novalidate, ng-submit='postClass.addComment(post.id, commenterName, newComment)')
            .form-group(ng-class="{'has-error': addCommentForm.commenterName.$invalid && !addCommentForm.commenterName.$pristine}")
              input.form-control(type='text', placeholder='Your Name', name='commenterName', ng-model='commenterName', ng-minlength='3', required)
              p.help-block(ng-show='addCommentForm.commenterName.$invalid && !addCommentForm.commenterName.$pristine') Name must be at least 3 characters.
            .form-group(ng-class="{'has-error': addCommentForm.newComment.$invalid && !addCommentForm.newComment.$pristine}")
              textarea.form-control(cols='40', rows='5', name="newComment", ng-model='newComment', placeholder='Your comment here', ng-minlength='10')
              p.help-block(ng-show='addCommentForm.newComment.$invalid && !addCommentForm.newComment.$pristine') Comment must be at least 10 characters.
            input(type='submit', ng-disabled='addCommentForm.$invalid', value='Add Comment')
