doctype html
html
  head
    meta(charset='utf-8')
    title Reddit Clone
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
  body(ng-app='clone' ng-controller="thePosts")
    nav
      .brand Fake Reddit |
      .smaller-nav-div.clickable(ng-click='showAddPost = !showAddPost')
        span.glyphicon-plus.glyphicon
        span Add Post &nbsp;&nbsp;|
      .smaller-nav-div
        input.searcher(type="text", placeholder="search", ng-model="searcher")
        span  &nbsp;&nbsp;&nbsp;|
      .smaller-nav-div
        span Sort By:
        select(ng-model="sorter", ng-init="sorter='rating'")
          option(value="rating") Rating
          option(value="location") Location
          option(value="date") Date
      .smaller-nav-div(ng-click="flipSort()")
          span.glyphicon.glyphicon-sort-by-alphabet(ng-show="!reverseSort")
          span.glyphicon.glyphicon-sort-by-alphabet-alt(ng-show="reverseSort")
    block content
    script(type='text/javascript', src='/javascripts/angular.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js')
    script(type='text/javascript', src='/javascripts/timeAgo.js')
    script(type='text/javascript', src='/javascripts/master.js')
